<div class="container">
  <h1>Contactos</h1>

  <a mat-raised-button color="primary" [routerLink]="['/personas/agregar']" class="p-3 m-1">
    Agregar Persona
  </a>

  <table mat-table [dataSource]="personas" class="mat-elevation-z8">
    <ng-container matColumnDef="idPersona">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let persona"> {{persona.idPersona}} </td>
    </ng-container>
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let persona"> {{persona.nombre}} </td>
    </ng-container>
    <ng-container matColumnDef="apellido">
      <th mat-header-cell *matHeaderCellDef> Apellido </th>
      <td mat-cell *matCellDef="let persona"> {{persona.apellido}} </td>
    </ng-container>
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let persona">
        <button mat-button routerLink="['/personas/informacion', persona.idPersona]">Ver</button>
        <button mat-button color="warn" (click)="eliminarPersona(persona.idPersona)">Eliminar</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['idPersona', 'nombre', 'apellido', 'acciones']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['idPersona', 'nombre', 'apellido', 'acciones'];"></tr>
  </table>
</div>
